{% extends 'homepage/base.html' %}
{% block content %}
    {% for like in object_list %}
    <div class="row justify-content-center pt-4">
    <div class='list-div'>
        <a href="{% url 'public-profile' like.liker.username %}" id='author-link'>
           <img class='rounded-circle like-image' src="{{like.liker.profile.image.url}}"><b>{{ like.liker }} </b>
        <small>
           {{like.liker.profile.first_name}} {{like.liker.profile.last_name}}
       </small>
        </a>
    </div>

    {% empty %}
    <p> No likes on this post! </p>
    {% endfor %}

</div>
{% endblock content %}
