{% extends 'homepage/base.html' %}
{% block content %}
    <div class='row justify-content-center'> <h1>Messages</h1> </div>
        {% for message in sender_qs %}
            <a href="{% url 'message-form' message.sender.username %}" id='black-link'>
                <div class='row align-content-center' id='profile'>
                    <img class='rounded-circle like-image' src="{{message.sender.profile.image.url}}">
                     - {{ message.sender }} <strong>  {{ message.content|truncatewords:4 }}</strong>

                </div>
                <div class='row justify-content-end align-content-top' id='profile'>
                    <small>{{ message.date_created|date:"M d h:i A" }}</small>
                </div>
            </a>
        {% empty %}
            <h3>No messages!</h3>
    {% endfor %}

{% endblock content %}
